header div img {
    display: block;
    width: 40%;
}

footer {
    display: flex;
}

footer p img {
    width: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact p{
    display: flex;
}

.copy {
    display: flex;
    align-items: center;
}

.copy p{
    margin-left: 3em;
}


video{
    width: 20px;
}